.columns {
  display: flex;
  gap: 50px;
}

.columns.has-gap-small {
  gap: 10px;
}

.columns.has-gap-medium {
  gap: 50px;
}

.columns.has-gap-large {
  gap: 100px;
}

.column {
  padding: 10px;
  width: 50%;
  background: #ccc;
  border-radius: 10px;
}

@media (width<1024px) {
  .columns {
    flex-direction: column;
  }

  .column {
    order: 2;
    width: 100% !important;
  }

  .column.is-first-on-mobile {
    order: 1;
  }
}