.grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.grid-item {
  background: #ccc;
  padding: 10px;
  border-radius: 10px;
}

.grid-item.is-double {
  grid-column: span 2;
  grid-row: span 2;
}