.site-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 16px;
}

/* .site-header>* {
  border: 1px solid black;
} */

.site-header__title {
  flex: auto;
}

.site-header__menu {
  display: flex;
  align-self: stretch;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-header__menu a {
  display: flex;
  align-items: center;
  padding: 0 10px;

  &:hover {
    color: green;
    background: #88CBE7;
  }
}

.site-header__user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.site-header__user img {
  margin: 8px 0;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
}