.stack {
  display: flex;
}

.stack.has-direction-horizontal {
  flex-direction: row;
}

.stack.has-direction-vertical {
  flex-direction: column;
}

.stack.has-gap-small {
  gap: 20px;
}

.stack.has-gap-medium {
  gap: 40px;
}

.stack.has-gap-large {
  gap: 60px;
}